<footer class="text-white bg-dark text-center p-2">
<section class="row bg-dark">
<div class="col-md-4">
<h2>About</h2>
<p>A passionate developer Creating amaizing web experiences</p>
</div>

<div class="col-md-4">
<h2>Quick Links</h2>
<a href="/" class="nav-link">Home</a>
<a href="/about" class="nav-link">About</a>
<a href="portifolio.html" class="nav-link">Portifolio</a>
<a href="contact.html" class="nav-link">Contact</a>
</div>

<div class="col-md-4">
<h5>Follow me</h5>
<a href="github.com" class="text-decoration-none text-light">Github</a>
<a href="linkedIn.com"  class="text-decoration-none text-light">LinkedIn</a>
<a href="twitter.com"  class="text-decoration-none text-light">Twitter</a>
</div>
<hr>
<footer class="text-light bg-dark text-center p-2">
<h5>&copy 2026. My Portifolio. All rights reserved</h5>
 </footer>
</section>
