{% extends 'base.html' %}

{% block tittle %}Portfolio - My Portfolio{% endblock %}

{% block content %}
<!-- our content-->
 <section class="py-5">
    <div class="container">
        <h1 class="display-4 text-center mb-5">My Portfolio</h1>
        <p class="text-center text-muted mb-5">Here are some of my recent projects</p>
        <!-- div with the projects information-->
         <section class="row g-4">
            {% for project in projects %}
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100 project-card">
                        <img src="{{ url_for('static',filename='images/' + project.image)}}" alt="">
                        <div class="card-body">
                            <h5 class="card-tittle">{{project.tittle}}</h5>
                            <p class="text-muted card-text">{{ project.description }}</p>
                            <a href="{{url_for('project_details', project_id=project.id)}}" class="btn btn-primary">View project</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

         </section>
    </div>
 </section>

{% endblock %}